* {
    margin: 4px;
    padding: 1px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #0b2269;
}

/* Layout Styles */
.header {
    background-color: #da3a05;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.nav {
    background-color: #f4ed17;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
}

.main {
    flex: 1;
    background-color: #08e91b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.aside {
    background-color: #099ecc;
    padding: 15px;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    background-color: #fd83e3;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}
@media (min-width: 768px) {
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header {
        flex: 1 100%;
    }

    .nav {
        flex: 1;
    }

    .main {
        flex: 2;
    }

    .aside {
        flex: 1;
    }

    .footer {
        flex: 1 100%;
    }
}